langchain
pypdf
langchain-core
python-dotenv
langchain_community
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-faiss
chromadb
langchain-huggingface 
sentence-transformers
faiss-cpu
pinecone
rank_bm25
